%tr
  %td= competence.title
  %td= competence.author
  %td= competence.skillrate
  %td= link_to '  Показать ', competence, class: 'glyphicon glyphicon-triangle-right'
  %td= link_to '  Редактировать ', edit_competence_path(competence),remote: true, class: 'glyphicon glyphicon-pencil'
  %td= link_to '  Удалить ', competence,remote: true, method: :delete, data: { confirm: 'вы уверены?' }, class: 'glyphicon glyphicon-remove'